
header{
    background: rgba(0,140,86,1);
    width: 95%;
    height: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    // font-family:'Futura,Trebuchet MS,Arial',sans-serif ;
    color: white;
    font-size: 50px;
    padding-top: 100px;
    text-align: center;
    padding-left: 5%;   
}