<div class="block">
    <mat-form-field>
        <input [(ngModel)] = "nome" matInput placeholder="Nome Orientador">
    </mat-form-field>

    <mat-form-field>
        <input [(ngModel)] = "email" matInput placeholder="Email">
    </mat-form-field>
    <br>
    <mat-form-field style="width: 18%">
        <input [(ngModel)] = "departamento" matInput placeholder="Departamento">
    </mat-form-field>
    
    <mat-form-field style="width: 18%">
        <input [(ngModel)] = "telefone" matInput placeholder="Telefone">
    </mat-form-field>
    
    <mat-form-field style="width: 18%">
    <input [(ngModel)] = "celular" matInput placeholder="Celular">
    </mat-form-field>

</div>

<button mat-raised-button matStepperPrevious id = "previous">Anterior</button>
<button mat-raised-button type="button" (click) = "submitToService()" matStepperNext id = "next" >Próximo</button>  