<div class="block" [formGroup] = "form">
  <mat-form-field>
      <mat-error *ngIf="raFormControl.hasError('required')">
          Campo <strong>Obrigatório</strong>
        </mat-error>
    <input  type="text" [(ngModel)]="ra" required minlength="6" matInput placeholder="RA"
    formControlName="raFormControl" [errorStateMatcher]="matcher">
   
  </mat-form-field>

  <mat-form-field>
      <mat-error *ngIf="nomeFormControl.hasError('required')">
          Campo <strong>Obrigatório</strong>
        </mat-error>
    <input  required formControlName="nomeFormControl" [(ngModel)] = "nome" [errorStateMatcher]="matcher" matInput placeholder="Nome Completo"> 
  </mat-form-field>

  <mat-form-field class="example-full-width">
      <mat-error *ngIf="emailFormControl.hasError('required')">
          Campo <strong>Obrigatório</strong>
      </mat-error>
    <input  matInput placeholder="Email" formControlName="emailFormControl" [(ngModel)] = "email" [errorStateMatcher]="matcher">
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Por favor, preencha corretamente
    </mat-error>
  
  </mat-form-field>
  <mat-form-field>
      <mat-error *ngIf="cursoFormControl.hasError('required')">
          Campo <strong>Obrigatório</strong>
        </mat-error>
    <mat-label>Curso</mat-label>
    <mat-select  formControlName="cursoFormControl" [errorStateMatcher]="matcher" (selectionChange)="changeCurso($event.value)" required>
      <mat-option *ngFor="let curso of curso" [value]="curso.value" >
        {{curso.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="width: 17%">
      <mat-error *ngIf="anoFormControl.hasError('required')">
          Campo <strong>Obrigatório</strong>
        </mat-error>
    <mat-label>Ano</mat-label>
    <mat-select  formControlName="anoFormControl" [errorStateMatcher]="matcher" (selectionChange)="changeAno($event.value)"required>
      <mat-option *ngFor="let ano of ano" [value]="ano.value">
        {{ano.ano}}
      </mat-option>
    </mat-select>
   
  </mat-form-field>
  <mat-form-field style="width: 17%">
      <mat-error *ngIf="periodoFormControl.hasError('required')">
          Campo <strong>Obrigatório</strong>
        </mat-error>
    <mat-label>Período</mat-label>
    <mat-select  required formControlName="periodoFormControl"  (selectionChange)="changePeriodo($event.value)" [errorStateMatcher]="matcher">
      <mat-option *ngFor="let periodo of periodo" [value]="periodo.value">
        {{periodo.periodo}}
      </mat-option>
    </mat-select>
   
  </mat-form-field>
  <mat-form-field style="width: 17%">
      <mat-error *ngIf="telefoneFormControl.hasError('required')">
          Campo <strong>Obrigatório</strong>
        </mat-error>
    <input  formControlName="telefoneFormControl"  [(ngModel)] = "telefone" [errorStateMatcher]="matcher" required matInput placeholder="Telefone">
  </mat-form-field>

  <mat-form-field style="width: 17%">
      <mat-error *ngIf="celularFormControl.hasError('required')">
          Campo <strong>Obrigatório</strong>
        </mat-error>
    <input formControlName="celularFormControl"  [(ngModel)] = "celular" [errorStateMatcher]="matcher" required matInput placeholder="Celular">
   
  </mat-form-field>
</div>
<button mat-raised-button type="button" (click) = "submitToService()" matStepperNext id = "next" disabled >Próximo</button>  