.block{
    width: 80%;
    margin-left: 15%;
}
mat-form-field{
    width: 40%;
    margin-right: 5%;
}
#next{
    margin-left: 80%;
    background-color: #26805D;
    color: white;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #4272EB !important;
   }
  
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #4272EB !important;
  } 
  
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: #4272EB !important;;
  }