mat-horizontal-stepper {
    margin-top: 5%;
    margin-bottom: 5%;
}
#next{
    margin-left: 80%;
    background-color: #26805D;
    color: white;
}
#previous{
    background-color: #2D3A80;
    color: white;
}
::ng-deep  .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit{
    background-color: #26805D;
}