
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Dados do Aluno</ng-template>
       <app-dados-aluno></app-dados-aluno>
      
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Dados da Empresa</ng-template>
       <app-dados-empresa></app-dados-empresa>
        <div>
          
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Dados do Orientador</ng-template>
         <app-dados-orientador></app-dados-orientador>
          <div>
          
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="fourthFormGroup">
        <form [formGroup]="fourthFormGroup">
          <ng-template matStepLabel>Dados do Estágio</ng-template>
         <app-dados-estagio></app-dados-estagio>
          <div>
          </div>
        </form>
      </mat-step>
    <mat-step>
      <ng-template matStepLabel>Imprimir</ng-template>
     <app-impressao></app-impressao>
      <div>
        <button mat-raised-button matStepperPrevious id = "previous">Anterior</button>
        <button mat-raised-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
  