.block{
    width: 80%;
    margin-left: 15%;
}
mat-form-field{
    width: 40%;
    margin-right: 5%;
}
#next{
    margin-left: 80%;
    background-color: #26805D;
    color: white;
}
#previous{
    background-color: #2D3A80;
    color: white;
}