<div class="block">
    <mat-form-field>
        <input matInput [(ngModel)] = "nomeEmpresa" placeholder="Nome da Empresa">
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)] = "nomeSupervisor"  placeholder="Nome Supervisor">
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)] = "cargoSetor"  placeholder="Cargo/Setor do Supervisor">
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)] = "email" placeholder="Email Supervisor">
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)] = "telefone"  placeholder="Telefone">
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)] = "celular"  placeholder="Celular">
    </mat-form-field>

</div>
<button mat-raised-button matStepperPrevious id = "previous">Anterior</button>
<button mat-raised-button type="button" (click) = "submitToService()" matStepperNext id = "next" >Próximo</button>  