<div class="block">
    <mat-radio-group aria-label="Tipo do Contrato">
        <mat-radio-button #obri value="1" (change)="0">Estágio Obrigatório</mat-radio-button>
        <mat-radio-button #naoObri value="2">Estágio Não Obrigatório</mat-radio-button>
        <mat-radio-button #ini value="3">Iniciação Científica</mat-radio-button>
    </mat-radio-group>
    <br>
    <mat-form-field style="width: 15%" *ngIf="obri.checked">
        <input [(ngModel)]="codMat" matInput placeholder="Código da Matéria">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput [(ngModel)]="dataIni" [matDatepicker]="picker" placeholder="Data do início do contrato">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <input matInput [(ngModel)]="dataFim" [matDatepicker]="picker1" placeholder="Data do término do contrato">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <!--       

      <mat-form-field style="width: 18%;">
        <input matInput [matDatepicker]="picker" 
         placeholder="Data Final do Contrato">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> -->
    <br>
    <br>
    <br>
    <mat-radio-group aria-label="Tipo do Contrato">
        <mat-radio-button #fixo value="1" (change)="0">Possuo Horário fixo durante a semana</mat-radio-button>
        <mat-radio-button #variavel value="2">Possuo Horário Variável</mat-radio-button>
    </mat-radio-group>
    <br>
    <br>
    <br>
    <div *ngIf="fixo.checked">
        <app-horariofixo></app-horariofixo>
    </div>
    <div *ngIf="variavel.checked">
        <div *ngIf="dataToService.diaID == 0">
            <h3>Segunda</h3>
            <app-horario></app-horario>
        </div>

        <div *ngIf="dataToService.diaID == 1">
            <h3>Terça</h3>
            <app-horario></app-horario>
        </div>
        <div *ngIf="dataToService.diaID == 2">
            <h3>Quarta</h3>
            <app-horario></app-horario>
        </div>
        <div *ngIf="dataToService.diaID == 3">
            <h3>Quinta</h3>
            <app-horario></app-horario>
        </div>
        <div *ngIf="dataToService.diaID == 4">
            <h3>Sexta</h3>
            <app-horario></app-horario>
        </div>
        <div *ngIf="dataToService.diaID == 5">
            <mat-checkbox #sabado (change)="0">Trabalha Sábado?</mat-checkbox>
            <br>
            <div *ngIf="sabado.checked">
                <h3>Sábado</h3>
                <app-horario></app-horario>
            </div>
        </div>
    </div>
    <button mat-raised-button matStepperPrevious id="previous">Anterior</button>
    <button mat-raised-button type="button" (click)="submitToService()" matStepperNext id="next">Próximo</button>