<div class="block">
    <h4>Entrada</h4>
    <mat-form-field style="width: 17%">
        <mat-label>Hora </mat-label>
        <mat-select (selectionChange)="changehora($event.value, 0)">
            <mat-option *ngFor="let hora of hora" [value]="hora.value">
                {{hora.hora}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field style="width: 17%">
        <mat-label>Minuto</mat-label>
        <mat-select (selectionChange)="changehora($event.value, 1)">
            <mat-option *ngFor="let minuto of minuto" [value]="minuto.value">
                {{minuto.minuto}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <mat-checkbox #pausa (change)="0">Possui Pausa para aula?</mat-checkbox>
    <br>
    <div *ngIf="pausa.checked">
        <h4>Saída para Pausa</h4>
        <mat-form-field style="width: 17%">
            <mat-label>Hora</mat-label>
            <mat-select (selectionChange)="changehora($event.value, 2)">
                <mat-option *ngFor="let hora of hora" [value]="hora.value">
                    {{hora.hora}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field style="width: 17%">
            <mat-label>Minuto</mat-label>
            <mat-select (selectionChange)="changehora($event.value, 3)">
                <mat-option *ngFor="let minuto of minuto" [value]="minuto.value">
                    {{minuto.minuto}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <h4>Volta da Pausa</h4>
        <mat-form-field style="width: 17%">
            <mat-label>Hora</mat-label>
            <mat-select (selectionChange)="changehora($event.value, 4)">
                <mat-option *ngFor="let hora of hora" [value]="hora.value">
                    {{hora.hora}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field style="width: 17%">
            <mat-label>Minuto</mat-label>
            <mat-select (selectionChange)="changehora($event.value, 5)">
                <mat-option *ngFor="let minuto of minuto" [value]="minuto.value">
                    {{minuto.minuto}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <h4>Saída</h4>
    <mat-form-field style="width: 17%">
        <mat-label>Hora</mat-label>
        <mat-select (selectionChange)="changehora($event.value,6)">
            <mat-option *ngFor="let hora of hora" [value]="hora.value">
                {{hora.hora}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field style="width: 17%">
        <mat-label>Minuto</mat-label>
        <mat-select (selectionChange)="changehora($event.value, 7)">
            <mat-option *ngFor="let minuto of minuto" [value]="minuto.value">
                {{minuto.minuto}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<button mat-raised-button (click) = "proximo()">Próximo Dia</button>